
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* font-family: 'Share Tech Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
/* font-family: 'Geologica', sans-serif; */

:root {
    --collor-01: #1F2023;
    --collor-02: #27282D;
    --main-color: #F20505;
    --main-color2: #ff3434;

    --text-color: #ffff;

    /* cores botoes */

    --color-button01: #d60000;
    --color-button02: #550000;

    /* DARK MODE */

    --color-text:black;
    --background-color:#BDBEBF;
    --background-color-2:#F0F0F0;
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: 0.4s;
}
/* ESTILOS EM CONJUNTO */

h1{
    font-family: 'Share Tech Mono', monospace;
}

h2 {
    font-family: 'Share Tech Mono', monospace;
}

h3{
    font-family: 'Share Tech Mono', monospace;
}

p{
    font-family: 'Geologica', sans-serif; 
}

button{
    cursor: pointer
}

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Definindo style da scrool bar  */

html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
    width: 5px;
}

html ::-webkit-scrollbar-track {
    background-color: rgb(7, 7, 7);
    width: 5px;
}

/* body */

body {
    background-color: var(--collor-01);
    margin: 0;
}
/* DARK MODE */
/* DARK MODE FIM */

body button {
    background-image: linear-gradient(90deg, var(--color-button01), var(--color-button02));
    color: white;
    font-weight: bolder;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;

}

body button:hover {
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.514);
    transform: scale(1.1);
    transition: all 0.2s;
}

/* HEADER */

header {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
#logo {
    width: 100px;
    padding-top: 10px;
    margin-left: 180px;
}

@media screen and (max-width: 1000px) {
    header #logo {
        display: flex;
        margin: 0 auto;

    }
}

nav {
    text-align: right;
    margin: 20px;
    margin-right: 200px;
}

#sep-hr-nav {
    width: 0;
    display: none;
}

@media screen and (max-width: 1000px) {
    nav {
        text-align: center;
        margin: 20px auto;
    }

    #sep-hr-nav {
        background-image: linear-gradient(90deg, var(--main-color), var(--main-color2));
        display: block;
        margin: 10px auto;
        border-style: none;
        width: 90%;
        height: 3px;
    }

}

.button-header {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 90px;
    height: 35px;
    justify-content: space-between;
}

/* COUNTAINER PRINCIPAL -01 */

#container-01 {
    margin-top: -20px;
    background-color: var(--collor-02);
    color: var(--text-color);
    display: flex;
    text-align: center;
    width: 100%;
    height:600px;
}

#content-container-01 {
    width: 70%;
    margin: 150px auto;
}

#content-container-01 span{
    color: var(--main-color);
}

@media screen and (max-width: 537px) {
    #content-container-01 {
        margin: 10px auto;
        height: 500px;
    }
}

#text{
    font-size: 43px;
    font-weight: bold;
}

#container-01 h2 {
    text-align: center;
}

#container-01 p {
    text-align: center;
    font-weight: bold;
    margin: 10px 20px;
    font-size: 20px;
    text-indent: 15px;
}

.line-sep-c1 {
    background-image: linear-gradient(90deg, var(--main-color), var(--main-color2));
    border-style: none;
    margin: 10px auto;
    width: 60px;
    height: 5px;
    border-radius: 10px;
}

/* BOTOES COUNTAINER PRINCIPAL */



#container-01 button {
    width: 130px;
    height: 50px;
    margin: 0 15px;
    margin: 20px 10px;
}

/* SVG CONTAINER 01 - DECORATION */

#programing-draw-maincontainer01 {
    width: 400px;
    margin: 100px 40px;
    padding: 20px 0;
}

@media screen and (max-width: 1000px) {
    #programing-draw-maincontainer01 {
        display: none;
    }
}

#arrow-container-01 {
    align-self: flex-end;
    margin: 10px auto;
}

/* COUNTAINER 02 */

#container-02 {
    background-color: var(--collor-01);
    color: var(--text-color);
    height: auto;
    display: flex;
    text-align: center;
    padding: 10px;
}

#container-02 h1 {
    justify-content: center;
    align-items: center;
}

#programing-draw-maincontainer {

    width: 400px;
    padding: 20px 0;
    margin-right: 40px;
}

#content-container-02 {
    margin: 50px auto;
    width: 80%;
}

@media screen and (max-width: 1000px) {
    #programing-draw-maincontainer {
        display: none;
    }
}

#container-02 h2 {
    justify-content: center;
    margin: 10px 20px;
}

#container-02 p {
    text-align: center;
    font-weight: bold;
    margin: 15px 20px;
    font-size: 20px;
    text-indent: 15px;
}

#container-02 span {
    color: var(--main-color);
}

#container-02 button {
    margin: 10px 10px 5px 10px;
    width: 120px;
    height: 45px;
}

.line-sep-c2 {
    background-image: linear-gradient(90deg, var(--main-color), var(--main-color2));
    border-style: none;
    width: 60px;
    height: 5px;
    border-radius: 10px;
    margin: 10px auto;

}

/* COUNTAINER 03 */

#container-03 {
    background-color: var(--collor-02);
    color: var(--text-color);
    text-align: center;
}

#container-03 h1 {
    padding-top: 15px;
}

#container-03 p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    text-indent: 15px;
}

#container-03 span {
    color: var(--main-color);
}

/* DIVS DE PROJETOS COUNTAINER-03 */

#container-projects {
    height: auto;
    margin: 10px auto;
    width: 90%;
    padding: 5px 0;
    border-radius: 10px;
    text-align: center;
}

#container-03 p {
    text-indent: 15px;
    margin: 10px 20px;
}

.projects {
    background-color: var(--collor-02);
    color: var(--text-color);
    border: 0.3px solid var(--main-color);
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px 20px;
}

.projects-inprogress{
    background-color: var(--collor-02);
    color: var(--text-color);
    border: 0.3px solid var(--main-color);
    border-radius: 10px;
    display: none;
    width: 300px;
    height: 300px;
    margin: 10px 20px;
}

.projects-inprogress button {
    margin: 10px 10px;
    width: 100px;
    height: 30px;
}

.projects-inprogress h2{
    margin-top: 20px;
}

#button-seemore{
    cursor: pointer;
}

@media screen and (max-width: 759px) {

    .projects {
    margin: 10px auto;
    width: 370px;
    height: 325px;
    }
}

.projects h2 {
    margin: 10px;
}

.projects button {
    margin: 10px 10px;
    width: 100px;
    height: 30px;
}

#button-more {
    margin: 10px 10px 5px 10px;
    width: 120px;
    height: 40px;
}

/* CONTAINER SKILLS */

#container-skills {
    background-color: var(--collor-01);
    color: white;
    margin: -10px auto;
    text-align: center;
}

#container-skills h1 {
    text-align: center;
    padding-top: 15px;
}

#container-skills h3 {
    text-align: center;
    margin-top: 10px;
}

#div-skills {
    margin: 0 auto;
}

.skill {
    border: 0.3px solid var(--main-color);
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    width: 250px;
    height: 170px;
    padding-bottom: 5px;
}

@media screen and (max-width: 545px) {

    .skill {
        width: 185px;
        height: 180px;
        margin: 10px 2px;
    }
}

.skill img {
    width: 70px;
    height: 70px;
    margin-top: 35px;
}

.skill img:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}


/* COUNTAINER 04 */

#container-04 {
    background-color: var(--collor-02);
    color: var(--text-color);
    margin: 0 auto;
    text-align: center;
    transition: 0.5s;
}

#content-container-04 {
    width: 70%;
    margin: 0 auto;
}

#container-04 h1 {
    margin: 10px 0;
    padding-top: 10px;

}

#container-04 p {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0;
}

#container-04 span {
    color: var(--main-color);
}

.certificates {
    border: 0.3px solid var(--main-color);
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 20px 10px;
    padding: 20px 10px;
    border-radius: 10px;
}

.course-inprogress {
    border: 0.3px solid var(--main-color);
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 20px 10px;
    padding: 20px 10px;
    border-radius: 10px;
}

.certificates h2 {
    margin: 10px auto;
}

.course-inprogress h2 {
    margin: 10px auto;
}

.certificates button {
    width: 100px;
    height: 45px;
    margin: 0 10px;
    padding: 2px;
}

.course-inprogress button {
    width: 100px;
    height: 45px;
    margin: 0 10px;
    padding: 2px;
}

.download-icon::after{
    content: url("/icons/download.png");
}

.info-icon::after{
    content: url("/icons/info.png");
    padding: 30px;
}

.img-certificates {
    width: 80%;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {

    .certificates {
        width: 390px;
        height: auto;
    }
}

/* FOOTER */

footer {
    background-color: var(--collor-01);
    padding-bottom: 20px;
}

footer h1 {
    font-size: 35px;
}

footer h3 {
    font-size: 20px;
    width: 70%;
    margin: 20px auto;
}

footer a {
    text-decoration: underline wavy var(--main-color);
    color: var(--main-color);
}

footer p {
    font-weight: bolder;
}

footer span {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

#icons-contactme img {
    width: 35px;
    margin: 10px;
    transition: 2s;
    transform: scale(1.1);
}

#icons-contactme img:hover {
    transform: scale(1.3);
    transition: all 0.2s;
}